.switch__label {
  display: flex;
  position: relative;
  margin: 0 20px 0 auto;
}

.switch__input {
  border-radius: 25px;
  border: 2px solid #00000080;
  width: 56px;
  height: 28px;
  appearance: none;
  cursor: pointer;
}

.switch__slider {
  border-radius: 20px;
  width: 28px;
  height: 28px;
  background-color: #000;
  color: #fff;
  text-align: center;
  cursor: pointer;
  position: absolute;
}

.switch__slider-F {
  top: 0;
  left: 26px;
}

.switch__slider-C {
  top: 0;
  left: 2px;
}

.switch__temp {
  font-size: 20px;
  color: #00000080;
  cursor: pointer;
}

.switch__temp-C {
  position: absolute;
  top: 2px;
  left: 8px;
  margin: 0;
  font-size: 20px;
}

.switch__temp-F {
  position: absolute;
  top: 2px;
  left: 36px;
  margin: 0;
  font-size: 20px;
}

.switch_active {
  transition: 0.7s;
  color: #fff;
}
