.profile {
  display: flex;
  flex-direction: row;
  gap: 116px;
  font-family: Cabinet Grotesk;
  font-size: 20px;
  font-weight: 700;
  line-height: 24.8px;
}

.profile__clothing-items {
  margin: 0;
  padding: 0;
}
