.modal__content_type_image {
  padding: 0;
  overflow: hidden;
  font-family: Cabinet Grotesk;
  font-size: 20px;
  line-height: 24px;
}

.modal__image {
  width: 100%;
}

.modal__close_image {
  background: url(../../assets/modalCloseWhite.svg);
  width: 20px;
  height: 20px;
}

.modal__caption {
  margin: 20px 0 12px 32px;
  font-size: 20px;
}

.modal__weather {
  margin: 0 0 32px 32px;
}
